.bg-white {
  margin-top: 20px;
  margin: 20px 0 0 0;
  padding: {
    top: 17px;
    right: 30px;
    bottom: 10px;
    left: 30px;
  }
  @include medium-desktop-lg {
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  @include small-devices {
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  @include phone-md {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.dl-horizontal {
  .dt-left {
    margin-bottom: 10px;
    margin-top: 7px;
    font-size: 16px;
    text-align: left;
    font-family: $extraBold;
  }
  .dd-custom {
    margin-left: 170px;
    @include small-devices {
      margin-left: 0;
    }
  }
}

button.btn-ghost {
  height: 25px;
}
input {
  padding-left: 10px;
  font-style: italic;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.btn-ghost {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  border-radius: 0;
  font-size: 11px;
  font-family: $semibold;
  border-color: $input-border;
  color: $header-list;
  &:hover {
    background-color: $input-border;
    border: 1px solid $input-border;
    color: $white;
  }
  &:hover > i {
    color: $white;
  }
}

//select {
//  font-style: italic !important;
//    option {
//      font-style: italic !important;
//    }
//}
//.empty {
//  font-style: normal !important;
//}

// remove arrows from number input
input.form-control-custom[type=number] {
  -moz-appearance: textfield !important;
}
input.form-control-custom[type=number]::-webkit-outer-spin-button,
input.form-control-custom[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

// add icon after input validation
.clearable{
  background: #fff url('../img/icon-checked.png') no-repeat right -17px center;
  padding: 3px 18px 3px 10px; /* Use the same right padding (18) in jQ! */
  border-radius: 0;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.clearable::-ms-clear {
  display: none;
}

//.clearable::-webkit-input-placeholder {font-style: italic}
.clearable::-webkit-input-placeholder {font-style: normal}

.clearable:-moz-placeholder {font-style: italic}
.clearable::-moz-placeholder {font-style: italic}
.clearable:-ms-input-placeholder {font-style: italic}

.clearable-long {
  max-width: 600px;
  background: #fff url('../img/icon-checked.png') no-repeat right -17px center;
  padding: 3px 18px 3px 20px; /* Use the same right padding (18) in jQ! */
  border-radius: 0;
  transition: background 0.4s;
  font-style: normal;
}
.clearable-long.x  { background-position: right 20px center; }

.clearable-long::-ms-clear {
  display: none;
}

.form-group-custom {
  width: 202px;
}
.form-control-custom {
  margin-bottom: 6px;
  //padding-left: 9px;
  border-radius: 0;
  //border-color: $input-border;
  border-color: $input;
  box-shadow: none;
  color: $clinic-placeholder;
  font-style: normal;
  font-style: -webkit-normal;
  &:focus {
    border-color: $sidebar-link;
    box-shadow: 0px 7px 24px -5px rgba(148,145,148,1);
    font-style: normal;
  }
}
.form-control-custom::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $italic;
  color: $clinic-placeholder;
}
.form-control-custom::-moz-placeholder { /* Firefox 19+ */
  font-family: $italic;
  color: $clinic-placeholder;
}
.form-control-custom:-ms-input-placeholder { /* IE 10+ */
  font-family: $italic;
  color: $clinic-placeholder;
}
.form-control-custom:-moz-placeholder { /* Firefox 18- */
  font-family: $italic;
  color: $clinic-placeholder;
}
.form-control-custom::-moz-placeholder { /* Firefox 19+ */
  color: $clinic-placeholder;
}
.form-control-custom:-ms-input-placeholder { /* IE 10+ */
  color: $clinic-placeholder;
}
.form-control-custom:-moz-placeholder { /* Firefox 18- */
  color: $clinic-placeholder;
}

.form-control-custom::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $clinic-placeholder;
  font-style: italic;
}
.form-control-custom::-moz-placeholder { /* Firefox 19+ */
  color: $clinic-placeholder;
}
.form-control-custom:-ms-input-placeholder { /* IE 10+ */
  color: $clinic-placeholder;
}
.form-control-custom:-moz-placeholder { /* Firefox 18- */
  color: $clinic-placeholder;
}

.btn-default:focus {
  background-color: $white;
}

.clinic-photo {
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
}

// remove dots in FF
:focus {outline:none;}
::-moz-focus-inner {border:0;}
.checkbox label::before {
  outline: none !important;
}
// remove dotted outline from select in FF
select.form-control-custom {
  color: $clinic-placeholder !important;
  color: rgba(0,0,0,0) !important;
  text-shadow: 0 0 0 $clinic-placeholder !important;
  font-style: italic;
}


html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
}