.bg-white {
  margin-top: 20px;
  margin: 20px 0 0 0;
  padding: {
    top: 15px;
    right: 50px;
    bottom: 10px;
    left: 30px;
  }
  @include medium-desktop-lg {
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  @include small-devices {
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  @include phone-md {
    padding-right: 10px;
    padding-left: 10px;
  }
}
input {
  padding-left: 10px;
  font-style: italic;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.btn-ghost {
  border-radius: 0;
  &:hover {
    background-color: $bg-ghost-input;
    border: 1px solid $bg-ghost-input;
    color: $white;
  }
  &:hover > i {
    color: $white;
  }
}
.form-control-custom {
  margin-bottom: 10px;
  border-radius: 3px;
  border-color: $input;
  box-shadow: none;
  color: $clinic-placeholder;
  &:focus {
    border-color: $sidebar-link;
    box-shadow: 0px 7px 24px -5px rgba(148,145,148,1);
  }
}
.clinic-photo {
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
}
