.address-block {
  display: flex;
  justify-content: space-between;
  @include medium-desktop {
    flex-direction: column;
  }
}
.map {
  width: 370px;
  height: 245px;
  max-width: 100%;
  margin-right: 40px;
  border: 1px solid $input;
}

.dl-horizontal-phone {
  margin-bottom: 4px;
  dd {
    .form-group-custom {
      .add-phone-number {
        margin-top: 3px;
      }
    }
    .clearable[type="tel"] {
      padding-top: 1px;
      font-size: 17px;
    }
  }
}

.table-schedule {
  width: 189px;
  margin-top: 1px;
    tbody {
      td {
        border-top: transparent;
          input {
            font-style: normal;
          }
      }
    }
}
.table>tbody>tr>td {
  padding: 8px 8px 8px 0px;
  border-top: transparent;
  line-height: 34px;
}
.table-schedule {
  tbody {
    tr {
      td {
        padding-top: 0;
        padding-bottom: 0;
      }
      .week-day {
        padding-right: 5px;
      }
      .time-start {
        padding-right: 3px;
        padding-left: 3px;
      }
      .time-start-input {
        width: 37px;
        padding-right: 6px;
        padding-left: 9px;
        font-size: 16px;
      }
      .td-comma {
        padding-right: 4px;
        padding-left: 0;
      }
      .time-stop {
        padding-right: 0;
        padding-left: 2px;
      }
      .time-stop-input {
        width: 37px;
        padding-right: 6px;
        padding-left: 8px;
        font-size: 16px;
      }
    }
  }
}

.dl-horizontal-schedule {
  margin-bottom: 0;
}
.dt-schedule {
  margin-top: 15px;
}
.row-btn-save {
  height: 277px;
  @include large-desktop {
    height: 40px;
  }
}
.btn-schedule-save {
  position: absolute;
  bottom: 7px;
  left: -5px;
}
.input-phone {
  &:focus {
    border-color: $dark-grey;
  }
}