.address-block {
  display: flex;
  justify-content: space-between;
  @include medium-desktop {
    flex-direction: column;
  }
}
.map {
  width: 350px;
  max-width: 100%;
  height: 200px;
  background-color: grey;
}
.table-schedule {
  tbody {
    td {
      border-top: transparent;
        input {
          font-style: normal;
        }
    }
  }
}
.table>tbody>tr>td {
  border-top: transparent;
  line-height: 34px;
}
.dt-schedule {
  margin-top: 15px;
}
.row-btn-save {
  height: 410px;
  @include large-desktop {
    height: 40px;
  }
}
.btn-schedule-save {
  position: absolute;
  bottom: 7px;
}

// remove arrows from number input
input.form-control-custom[type=number] {
  -moz-appearance: textfield !important;
}
input.form-control-custom[type=number]::-webkit-outer-spin-button,
input.form-control-custom[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}



//select.form-control-custom {
//  -moz-appearance: textfield !important;
//}
//select.form-control-custom::-webkit-outer-spin-button,
//select.form-control-custom::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//  appearance: none;
//  margin: 0;
//}





// add icon after input validation
.clearable{
  background: #fff url('../img/icon-checked.png') no-repeat right -17px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 10px; /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
  font-style: normal;
}
.clearable.x  { background-position: right 5px center; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.clearable::-webkit-input-placeholder {font-style: italic}
.clearable:-moz-placeholder {font-style: italic}
.clearable::-moz-placeholder {font-style: italic}
.clearable:-ms-input-placeholder {font-style: italic}