form {
  .dl-horizontal-custom {
    margin-bottom: 6px;
    @include small-devices {
      margin-bottom: 30px;
    }
    .dt-title-logo {
      margin-top: -5px;
    }
    .dt-title-descr {
      margin-top: 6px;
    }
    .dt-title-photos {
      margin-top: -1px;
    }
  }
  .dl-video {
    margin-top: -15px;
  }
}
.descr-text {
  padding-top: 5px;
  line-height: 22px;
}
.logo-clinic {
  float: left;
  width: 142px;
  height: 80px;
  background: url('../img/logo-ctbc-corel.png') no-repeat;
  background-position: center;
  border: 1px solid $input;
  border-radius: 3px;
  @include phone {
    margin-right: 5px;
    margin-bottom: 15px;
  }
}
.logo-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 71px;
  width: 100px;
  padding-left: 14px;
  @include small-devices {
    width: 140px;
  }
  @include phone {
    width: 120px;
    padding-left: 0;
  }
}
.pictures-grid {
  display: flex;
  @include phone-lg {
    flex-direction: column;
  }
}
.photo-container {
  display: block;
  margin: 0px 30px 0 0;
  @include small-devices {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0 0;
  }
  @include phone-lg {
    margin: 0 auto;
  }
}
.photo-block {
  width: 250px;
  @include small-devices {
    margin-right: 3px;
    margin-bottom: 10px;
  }
}
.photo-block:hover > .photo-header {
  display: flex;
}
.photo-header {
  display: none;
  position: absolute;
  height: 40px;
  width: 250px;
  justify-content: space-between;
  padding: 8px 11px;
  z-index: 10;
  border-radius: 5px 5px 0 0;
  background-color: $breadcrumb-first;
}
a.btn-picture {
  padding: 6px 2px 5px 6px;
  border: 1px solid $white;
  background-color: transparent;
  font-size: 12px;
  font-family: $semibold;
  color: $white;
  line-height: 13px;
  &:hover {
    background-color: $white;
    border: 1px solid $white;
    //color: $btn-picture-text;
    color: $tags-hover;
  }
  &:hover > i {
    color: $sidebar-link;
  }
}
.clinic-picture {
  width: 100%;
  height: 150px;
  margin: 0 0 30px 0;
  background: url('./../img/150.jpg') no-repeat;
  background-size: cover;
  @include small-devices {
    margin: 0px 10px 3px 0;
  }
}
.clinic-video {
  margin-top: 10px;
  max-width: 440px;
  height: 300px;
  background-color: $black;
}
.video-container {
  position: relative;
  //height: 0;
  min-width: 250px;
  min-height: 188px;
  padding-bottom: 56.25%;
}
.video-container > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**
 * bootstrap-imageupload v1.1.2
 * https://github.com/egonolieux/bootstrap-imageupload
 * Copyright 2016 Egon Olieux
 * Released under the MIT license
 */

.imageupload.imageupload-disabled {
  cursor: not-allowed;
  opacity: 0.60;
}
.imageupload.imageupload-disabled > * {
  pointer-events: none;
}
.imageupload .panel-title {
  margin-right: 15px;
  padding-top: 8px;
}
.imageupload .alert {
  margin-bottom: 10px;
}
.imageupload .btn-file {
  overflow: hidden;
  position: relative;
}
.imageupload .btn-file input[type="file"] {
  cursor: inherit;
  display: block;
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.imageupload .file-tab button {
  display: none;
}
.imageupload .file-tab .thumbnail {
  margin-bottom: 10px;
}
.imageupload .url-tab {
  display: none;
}
.imageupload .url-tab .thumbnail {
  margin: 10px 0;
}
.input-upload[type="file"] {
  display: none;
}
.label-btn-upload {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-radius: 0 !important;
  border: 1px solid $input-border;
  &:hover {
    background-color: $input-border;
    border: 1px solid $input-border;
    color: $white;
  }
    span {
      font-size: 11px;
      font-family: $semibold;
    }
}

.label-btn-upload:hover > i {
  color: $white;
}

.green-icon {
  padding-right: 3px;
  color: $sidebar-link;
}
.btn-default-upload {
  display: none;
}
// end upload btn styles