@import '_variables';
@import '_mixins';

.best-doctors {
  padding: 0 0 2vw;
  @include medium-desktop-lg {
    padding: 15px;
  }
    .text-center {
      margin-bottom: 30px;
      @include large-desktop {
        margin-bottom: 0px;
      }
      .container-title {
        width: 44%;
        margin: 0 auto;
        @include large-desktop {
          width: 80%;
        }
          .title-icon {
            margin-top: 52px;
            &:before {
              width: 70px;
              height: 70px;
              margin-top: -36px;
              background: url('../img/icons/doc-silouette.png') no-repeat;
              background-size: 93%;
            }
          }
      }
      .col-lg-4 {
          .card {
            border: 1px solid $grey-border;
            border-radius: 0 0 25px 25px;
            box-shadow: 0 0px 0 0px white, 0 1px 3px rgba(0, 0, 0, 0.3);
            &:hover {
              border: 1px solid $green-border-hover;
              box-shadow: none;
            }
            @include large-desktop {
              margin-bottom: 30px;
            }
              .profile-info {
                .col-lg-3 {
                  margin-bottom: 0;
                  .ava {
                    /*width: 100px;
                    height: 110px;
                    background: url('../img/ava-gourvitz.jpg') no-repeat;
                    background-size: 124%;
                    background-position: 85% 12%;
                    border-radius: 0 0 20px 0;*/
                      img {
                        width: 103px;
                        border-radius: 0 0 20px 0;
                      }
                  }
                }
                .col-lg-9 {
                  ul {
                    margin-left: 17px;
                    margin-top: -7px;
                    padding: 0;
                    text-align: left;
                  }
                  .skill {
                    border-bottom: 1px solid $grey-border-list;
                    width: 242px;
                    margin-left: 17px;
                    margin-top: 6px;
                    padding-bottom: 6px;
                    li {
                        .skill-bold {
                          font-size: 14px;
                          font-family: $semibold;
                          color: $grey-lighter;
                        }
                        .years {
                          font-family: $regular;
                        }
                      }
                  }
                  .fio {
                    .name {
                      font-size: 20px;
                      font-family: $semibold;
                      color: $black-btn-font;
                    }
                    li:nth-child(2) {
                      margin-top: -4px;
                    }
                  }
                }
              }
              .specialization {
                .col-lg-12 {
                  p {
                    margin-top: 4px;
                    padding: 0px 11px;
                    line-height: 25px;
                    font-size: 15px;
                    font-family: $italic;
                    color: $grey-lighter;
                    text-align: left;
                  }
                }
              }
              .statistics {
                margin: 1px 0 0;
                padding: 7px 7px 8px;
                background-color: $olive;
                  ul {
                    li:first-child {
                      margin-right: 29px;
                    }
                    li {
                      float: left;
                      font-size: 12px;
                      font-family: $semibold;
                      color: $grey-font;
                        .fa-comments-o {
                          font-size: 14px;
                          margin-right: 3px;
                        }
                        .fa-pencil-square-o {
                          margin-right: 5px;
                        }
                        a {
                          color: $grey-font;

                        }
                    }
                  }
              }
              .footer {
                border: 2px solid $green-border;
                margin: 0 -1px -1px;
                padding: 11px 10px;
                border-radius: 0 0 25px 25px;
                font-size: 18px;
                color: $black-btn-font;
                &:hover {
                  background: #00c7bb; /* Old browsers */
                  background: linear-gradient(to bottom,  #00c7bb 0%,#00ae9f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c7bb', endColorstr='#00ae9f',GradientType=0 );
                  border-bottom: 2px solid $green-border-dark;
                  color: $white;
                  cursor: pointer;
                }
              }
          }
      }
    }
}