.common-diseases {
  padding-top: 32px;
  padding-bottom: 14px;
  background: url('../img/bg-common-diseases.jpg') no-repeat;
  background-size: cover;
  @include large-desktop {
    padding-bottom: 25px;
  }
    .container {
      .text-center {
        .container-title {
          margin-bottom: 0;
          .title-icon {
            margin-top: 23px;
            margin-bottom: 8px;
            @include phone {
              font-size: 28px;
            }
          }
          .title-icon:before {
            width: 55px;
            height: 62px;
            margin-top: -27px;
            background: url(../img/icons/fonendoscope.png) no-repeat;
            background-size: 100%;
          }
        }
        .col-disease {
          margin-top: 31px;
          margin-bottom: 28px;
          @include phone {
            margin-bottom: 55px;
          }
          @include medium-desktop-lg {
            margin-bottom: 70px;
          }
          text-align: left;
            .title {
              font-size: 20px;
              font-family: $semibold;
              color: $black-btn-font;
            }
            .descr {
              margin-top: 16px;
              font-size: 15px;
              font-family: $lightItalic;
              color: $grey-lighter;
              line-height: 25px;
            }

            .col-disease-list {
              margin-top: 14px;
              padding-left: 0px;
                li:first-child {
                  width: 118px;
                  margin-right: 27px;
                  margin-right: 39px;
                }
                li:nth-child(2n) {
                  width: 123px;
                  margin-left: -7px;
                }
                li {
                  //width: 130px;
                  margin-bottom: 1px;
                  line-height: 19px;
                  &:hover {
                    margin-bottom: 0px;
                    border-bottom: 1px solid $green-link-hover;
                  }
                  float: left;
                    .links-icon {
                      width: 11px;
                      height: 12px;
                      display: block;
                      float: left;
                      margin-top: 2px;
                      margin-right: 10px;
                    }
                    .specialists {
                      background: url('../img/icons-green/specialists.png') no-repeat;
                    }
                    .researches {
                      margin-right: 8px;
                      background: url('../img/icons-green/researches.png') no-repeat;
                    }
                    a {
                      font-size: 14px;
                      font-family: $semibold;
                      color: $green-diseases;
                      &:hover {
                        text-decoration: none;
                    }
                }
              }
            }
        }
      }
      .row {
        .col-lg-12 {
          .see-also-list {
            margin-bottom: 5vw;
            margin-top: 5px;
            padding-left: 0;
            @include large-desktop {
              margin-top: 3vw;
              margin-bottom: 0;
            }
              .list-title {
                margin-right: 19px;
                font-size: 16px;
                font-family: $semibold;
                color: $black-btn-font;
              }
              li {
                float: left;
                margin-right: 10px;
                  a {
                    font-size: 16px;
                    text-decoration: underline;
                    color: $black-btn-font;
                    &:hover {
                      text-decoration: none;
                    }
                  }
              }
          }
        }
      }
    }
}