/* -------------- ДИГНОСТИКА ПОИСК НЕ АКТИВ (НАЧАЛО) -------------- */
.diagnoctick-search-tab-block {
  padding-right: 0;
  padding-left: 0;
}
.diagnostik-search-tab-link {
  width: 235px;
  border: 2px solid $green;
  @include medium-desktop-lg {
    width: inherit;
  }
}
.diagnostik-search-tab-link.active {
  border: 2px solid $tab-border;
  text-decoration: underline;
  &:after
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 10px 0;
    border-color: #62c2ce transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -7px;
    left: 115px;
  }
}
.container-diagnostick-search-list {
  margin-top: 38px;
  @include medium-desktop {
    padding-left: 50px;
  }
}
.row .diagnoctick-column-left {
  width: 230px;
  padding-left: 70px;
  @include large-desktop {
    //max-width: 154px;
    max-width: 210px;
    padding-left: 0;
  }
}
.diagnostick-search-list-title {
  text-decoration: underline;
  color: $green;
  &:hover {
    color: $header-h4;
  }
}
.diagnostick-search-not-active-list {
  padding-left: 25px;
    li {
      &:before {
        content: "•";
        color: #00bcae;
        display: inline-block;
        width: 1em;
        margin-right: -4px;
        margin-left: -1em;
        font-size: 17px;
        vertical-align: middle;
      }
      a {
        color: $header-h4;
        &:hover {
          color: $green;
        }
      }
    }
    li:hover:before {
      margin: -3px -8px -4px -18px;
      font-size: 22px;
    }
}
.diagnoctick-search-tab-block .nav-tabs-custom {
  li:first-child {
    border-bottom-left-radius: 10px;
    a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 7px;
    }
  }
  li:last-child {
    border-bottom-right-radius: 10px;
    a {
      border-top-right-radius: 0;
      border-bottom-right-radius: 7px;
    }
  }
}
.diagnostick-search-last-list {
  padding-left: 20px;
    li {
      &:before {
        content: "—";
        color: #00bcae;
        display: inline-block;
        width: 1em;
        margin-right: 5px;
        margin-left: -1em;
        font-size: 17px;
        vertical-align: baseline;
      }
        a {
          color: $header-h4;
          &:hover {
            color: $green;
          }
        }
    }
}

.diagnoctick-search-tab-input {
  padding: 15px 25px;
  color: $white;
  background-color: #00c3b6;
  border-radius: 30px !important;
  font-size: 18px;
  @include phone-lg {
    margin-top: 15px;
  }
}

.diagnostick-search-tab-content input {
  width: 300px;
}
.diagnostick-search-tab-content .left-inner-addon-diagnostick {
  margin-left: -20px;
  @include large-desktop {
    margin-left: 15px;
  }
  @include phone-md {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.diagnostick-search-tab-content .diagnostick-search-subtext {
  @include phone-md {
    padding-left: 0;
  }
}

.diagnostick-search-tab-content .input-region {
  margin-left: -63px;
  @include large-desktop-md {
    margin-left: -30px;
  }
  @include medium-desktop-lg {
    margin-left: -35px;
  }
}
.diagnostick-search-tab-content .tab-btn-search {
  display: inline;
  margin-left: -38px;
  @include large-desktop {
    margin-left: -35px;
  }
}
.diagnoctick-search-how {
  .container-how {
    .col-how {
      margin-left: 25px;
    }
  }
}
.diagnoctick-search-tab-block {
  .nav-tabs-custom {
    li {
      a.tab-link {
        padding-top: 18px;
        padding-bottom: 19px;
        text-decoration: underline;
      }
    }
  }
}
.diagnostick-search-tab-content  .btn-r {
  @include phone {
    max-width: 80vw;
  }
  .left-inner-addon-sm {
    width: 280px;
  }
}

.diagnoctick-column {
  display: inline-block;
  width: 210px;
  vertical-align: top;
  @include large-desktop {
    margin-right: 20px;
  }
  @include small-devices {
    padding-left: 0;
  }
  @include phone-md {
    max-width: 300px;
  }
}
.diagnoctick-column-mid {
  width: 200px;
  padding-left: 33px;
  @include medium-desktop-lg {
    padding-left: 0;
  }
  @include phone {
    width: 250px;
  }
}
.diagnoctick-column-right {
  width: 250px;
  margin-top: 10px;
  padding-left: 14px;
  @include small-devices {
    padding-left: 0;
  }
}
/* -------------- ДИГНОСТИКА ПОИСК НЕ АКТИВ (КОНЕЦ) -------------- */