/* ----------------- ЗАМЕНА ПЛЕЙСХОЛДЕРОВ НА ИЗОБРАЖЕНИЯ В ИНПУТАХ ДАТЫ РОЖДЕНИЯ (НАЧАЛО) ----------------- */
input.form-control.form-control-custom#input-birth-day:empty {
  text-indent: -9999px;
  background-image: url("../img/bg-input-day.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
input.form-control.form-control-custom.input-birth-month:empty {
  text-indent: -9999px;
  background-image: url("../img/bg-input-month.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
input.form-control.form-control-custom.input-birth-year:empty {
  text-indent: -9999px;
  background-image: url("../img/bg-input-year.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input.input-birth::-webkit-input-placeholder {
  text-indent: -9999px;
  transition: none;
}
/* ----------------- ЗАМЕНА ПЛЕЙСХОЛДЕРОВ НА ИЗОБРАЖЕНИЯ В ИНПУТАХ ДАТЫ РОЖДЕНИЯ (КОНЕЦ) ----------------- */