// Для анимации зеленой точки (работает со скриптом input-dot-animation)
.clearable.form-control-custom[type=number] {
  -moz-appearance: textfield !important;
}
.clearable.form-control-custom[type=number]::-webkit-outer-spin-button,
.clearable.form-control-custom[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
// add icon after input validation
.clearable{
  background: $white url('../img/icon-checked.png') no-repeat right -17px center;
  padding: 3px 25px 3px 10px; /* Use the same right padding (18) in jQ! */
  border-radius: 0;
  transition: background 0.4s;
}
.clearable.x  {
  background-position: right 5px center;

  // для скрытия зеленой точки:
  position: relative;
  z-index: 10;
}
.clearable::-ms-clear {display: none; width:0; height:0;}
.clearable::-ms-clear {
  display: none;
}

// для анимации галочки в textarea
.clearable-textarea {
  background: $white url('../img/icon-checked.png') no-repeat right -17px top 15px;
  padding: 3px 25px 3px 10px;
  border-radius: 0;
  transition: background 0.4s;
}
.clearable-textarea.x  {
  background-position: right 5px top 15px;

  // для скрытия зеленой точки:
  position: relative;
  z-index: 10;
}
.block-name {
  position: relative;
}
.green-dot {
  width: 4px;
  height: 4px;
  background-color: $breadcrumb-first;

  position: absolute;
  top: 48px;
  right: 14px;
  border-radius: 50%;
}
.green-dot-visible {
  visibility: visible;
}
.green-dot-hidden {
  visibility: hidden;
}
// Конец стилей для анимации зеленой точки в инпутах