@import '_variables';
@import '_mixins';

.med-centers {
  height: 1055px;
  background: url('../img/bg-med-centers.jpg') no-repeat;
  background-size: cover;
  @include large-desktop {
    height: auto;
    background-position-x: 55%;
  }
    .container {
      .text-center {
        margin-bottom: 30px;
      }
      .row {
        .container-title {
          margin-bottom: 7px;
            .title-icon {
              margin-top: 54px;
              margin-bottom: 26px;
            }
            .title-icon:before {
              width: 70px;
              height: 70px;
              margin-top: -32px;
              margin-right: 8px;
              background: url('../img/icons/hospital.png') no-repeat;
              background-size: 93%;
            }
        }
        .col-left {
          padding-left: 0;
          @include medium-desktop-lg {
            margin-bottom: 30px;
          }
        }
        .col-right {
          padding-right: 0;
        }
        .col-lg-6 {
          @include medium-desktop {
            padding: 0px 17px;
          }
            .card {
              width: 100%;
              margin: 1px;
              box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
              box-sizing: content-box;
              &:hover {
                margin: 0;
                border: 1px solid $green-darker;
                box-shadow: none;
              }
                .header {
                  /*.col-lg-6 {
                    .med-center-logo {
                      width: 192px;
                      height: 57px;
                      margin-top: 6px;
                      margin-left: 21px;
                      background: url('../img/logo-transmed.png') no-repeat;
                      background-size: 60%;
                    }
                  }*/
                  .col-lg-6 {
                    .med-center-logo {
                      /*width: 192px;
                      height: 57px;
                      margin-top: 6px;
                      margin-left: 21px;
                      background: url('../img/logo-transmed.png') no-repeat;
                      background-size: 60%;*/
                      text-align: left;
                      padding-left: 20px;
                      padding-top: 4px;
                      img {
                        width: 122px;
                      }
                    }
                  }
                  .col-lg-6 {
                    .med-center-contacts {
                      margin-top: 6px;
                      margin-left: -22px;
                      @include large-desktop {
                        width: 300px;
                        margin: 0 auto;
                        padding-left: 0;
                      }
                        li {
                          i {
                            float: left;
                            color: $blue-dark;
                          }
                          .fa-map-marker {
                            margin-left: 34px;
                            margin-right: -8px;
                          }
                          .fa-phone {
                            margin-left: 41px;
                            margin-right: -14px;
                            margin-top: -2px;
                          }
                          p {
                            font-size: 14px;
                            color: $grey-lighter;
                          }
                          .card-address {
                            padding-left: 15px;
                            text-align: left;
                            overflow: hidden;
                            line-height: 16px;
                          }
                          .card-phone {
                            line-height: 10px;
                            @include large-desktop {
                              width: 250px;
                            }
                          }
                        }
                    }
                  }
                }
              .content {
                .col-lg-12 {
                  margin-top: -11px;
                    .med-center-content {
                      margin-top: 6px;
                      padding: 12px 10px 8px;
                      background-color: $olive-dark;
                        .title {
                          font-size: 18px;
                          color: $black-btn-font;
                        }
                        .subtitle {
                          margin-top: -5px;
                          font-size: 14px;
                          font-family: $italic;
                          color: $grey-light;
                        }
                    }
                }
              }
              .statistics {
                .col-lg-12 {
                  .med-center-statistics {
                    margin-top: -10px;
                    background-color: $olive;
                      ul {
                        //height: 32px;
                        display: inline-block;
                        margin-bottom: -2px;
                        margin-left: 2px;
                        padding-left: 0;
                        @include phone-lg {
                          padding-left: 20px;
                        }
                          li {
                            float: left;
                            line-height: 30px;
                            font-size: 12px;
                            font-family: $semibold;
                            color: $grey-font;
                              i {
                                padding-right: 6px;
                                font-size: 14px;
                              }
                          }
                          li:nth-child(1) {
                            margin-right: 30px;
                          }
                          li:nth-child(2) {
                            margin-right: 27px;
                          }
                      }
                  }
                }
              }
              .footer {
                .btn-sign-in {
                  margin-top: 18px;
                  margin-bottom: 19px;
                  padding: 12px 46px;
                  font-size: 18px;
                  color: $black-btn-font;
                  border-radius: 25px;
                  @include phone {
                    padding: 12px 25px;
                  }
                  &:hover {
                    background-color: $green-bg-btn;
                    box-shadow: 0 0 0 0px white, 0 2px 3px rgba(0, 0, 0, 0.22);
                    color: $white;
                  }
                }
              }
            }
        }
      }
    }
}