.col-content .profile-pacient-content {
  padding-top: 26px;
  padding-left: 0;
  @include small-devices {
    padding-right: 0;
  }
}
.profile-pacient-form {
  .form-group {
    height: 31px; // 1111
    margin-left: -5px; // 1111
    margin-bottom: 9px;
    @include phone-lg {
      margin-bottom: 30px;
    }
  }
  .form-control-profile-client {
    background-color: #f6f6f6;
    border-color: #e5e5e5;
    border-radius: 4px;
    box-shadow: none;
    color: #393939;
    font-style: normal;
    margin-bottom: 6px;
  }

  .form-control-profile-client::-webkit-input-placeholder {
    font-family: $italic;
    font-size: 16px;
    color: $header-h4;
    @include phone-lg {
      font-size: 13px;
    }
  }
  .form-control-profile-client:-moz-placeholder {
    font-family: $italic;
    font-size: 16px;
    color: $header-h4;
    @include phone-lg {
      font-size: 13px;
    }
  }
  .form-control-profile-client::-moz-placeholder {
    font-family: $italic;
    font-size: 16px;
    color: $header-h4;
    @include phone-lg {
      font-size: 13px;
    }
  }
  .form-control-profile-client:-ms-input-placeholder {
    font-family: $italic;
    font-size: 16px;
    color: $header-h4;
    @include phone-lg {
      font-size: 13px;
    }
  }

  .form-group-date {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .label-name {
    font-family: $extraBold;
    font-weight: 900;
    font-size: 12px;
    @include phone-lg {
      font-size: 2.5vw;
      text-align: left;
    }
    @include phone-md {
      padding-right: 5px;
      font-size: 9px;
    }
  }
  .label-input-block {
    margin-top: -9px;
    margin-left: -5px;
    padding-right: 0; // 1111
    padding-left: 0;
  }
  .green-dot {
    top: 15px;
    //right: 30px;
    right: 15px; // 1111
  }
  .input-birth-day {
    width: 53px;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-size: 13px;
    color: $input-font;
  }
  .btn-additional-phone {
    margin-top: 5px;
    margin-bottom: 29px; // 1111
    @include phone-md {
      padding: 4px;
    }
    .fa-plus {
      margin-top: 6px;
      margin-left: 2px;
      font-size: 8px;
      @include phone-md {
        display: none;
      }
    }
    .fa-phone {
      margin-right: 2px;
      margin-left: -7px;
      font-size: 13px;
      @include phone-md {
        display: none;
      }
    }
  }
}

.call-to-action-block {
  margin-bottom: -20px;
  background-color: $white;
  overflow: hidden;
}
.bg-call-to-action {
  max-width: 693px;
  margin-top: 20px; // 1111
  margin-left: -35px;
  padding-left: 50px;

  background-color: $bg-body;
  transform: skew(-40deg);
  @include small-devices {
    max-width: 500px;
    padding-left: 0px;
    margin-left: -40px;
  }
  @include phone-lg {
    transform: skew(0deg);
  }
    p {
      font-family: $extraBold;
      font-weight:900;
      font-size: 18px;
      color: $sidebar-link;
    }
}
.unskew {
  padding-left: 55px;
  padding-top: 4px;
  transform: skew(40deg);
  @include phone-lg {
    transform: skew(0deg);
  }
    .text-second {
      margin-top: -10px;
      padding-bottom: 6px;
    }
}

.block-oms-lks {
  padding-top: 3px;
}
.block-oms-lks .input-oms-lks {
  margin-left: 3px;
}
.block-oms-lks .green-dot {
  right: 15px;
}
.profile-pacient-content .form-footer {
  margin-top: 29px; // 1111
  margin-left: -26px;
}
.profile-pacient-content .form-footer .btn-doctor-page {
  float: left;
  margin-bottom: 45px;
  padding: 13px 39px;
  text-align: center;
  font-family: $extraBold;
  font-weight: 900;
  font-size: 11px;
    .fa-floppy-o {
      margin-right: 12px;
      font-size: 15px;
    }
}
.profile-pacient-content .form-footer .green-dot-symbol {
  right: -10px;
  margin-right: 30px;
}
.profile-pacient-content .form-footer p {
  margin-left: -12px;
}

// блок Загрузить автар пациента
.form-group-profile-avatar {
  @include small-devices {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
  }
  @include phone-lg {
    margin-top: 20px;
  }
}
.label-client-avatar {
  font-family: $extraBold;
  font-weight: 900;
  font-size: 12px;
  @include phone-lg {
    margin-top: 20px;
  }
}
.client-avatar {
  float: left;
  width: 130px;
  height: 130px;
  margin-left: -19px;
  margin-top: 7px;
  border-radius: 50%;
}
.profile-upload-btns-block {
  margin-top: 38px;
  margin-left: -24px;
  @include medium-desktop-lg {
    position: relative;
    margin-left: 9px;
  }
  @include small-devices {
    right: 0;
    margin-left: 0;
  }
    .label-btn-upload {
      margin-bottom: 9px;
      padding: 2px 12px;
    }
    .btn-ghost {
      padding: 4px 9px;
    }
}