/* ----------------- РЕЗУЛЬТАТЫ-FIN BEGIN ----------------- */
// блок с кнопками Добавить анализ и Предоставить доступ
.results-analisis-content .bg-white-results-analisis {
  margin-bottom: 27px;
  padding-top: 36px;
  padding-right: 56px;
  padding-bottom: 23px;
  @include medium-desktop-lg {
    padding-left: 20px;
  }
  @include small-devices {
    padding-top: 20px;
    padding-right: 20px;
  }
  @include phone-lg {
    padding-right: 0;
    padding-left: 7px;
  }
  @include phone-md {
    padding-left: 0;
  }
}
.results-analisis-content  .col-diagnostick-select {
  @include small-devices {
    //padding-left: 15px;
  }
}
.results-btns-block {
  margin-bottom: 35px;
}
.results-analisis-content .block-mrt-btn {
  padding: 6px 21px;
  font-family: $semibold;
  font-size: 11px;
}
.btn-group-results {
  @include small-devices {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 278px;
    height: 40px;
  }
}
//.btn-group-add-offer {
//  @include small-devices {
//    position: relative;
//    display: block;
//    margin: 0 auto;
//    max-width: 317px;
//    right: 0;
//  }
//  @include phone {
//    max-width: 300px;
//  }
//}

.btn-group-add-offer {
  position: absolute;
  right: 14px;
  padding-top: 7px;
  @include small-devices {
    //position: relative;
    display: block;
    margin: 0 auto;
    //max-width: 317px;
    //right: 0;

    position: relative;
    max-width: 100%;
    right: 0;
    text-align: center;
  }
  @include phone {
    max-width: 300px;
  }
}

// кнопки Добавить анализ и Предоставить доступ
.btn-add-analisis {
  margin-right: 10px;
  padding: 6px 18px;
  @include phone-lg {
    width: 280px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  @include phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
  }
}
.btn-offer-access {
  padding: 6px 13px;
  @include phone-lg {
    width: 280px;
  }
  @include phone {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 125%);
  }
}
// кнопки Печать и Назад
.results-analisis-content .btn-print {
  margin-right: 15px;
  padding: 4px 22px;
  @include phone-lg {
    width: 280px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  @include phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
  }
  .fa-print {
    @include phone-lg {
      //margin-left: 35%;
      //margin-right: -39%;
    }
  }
}
.results-analisis-content .btn-back {
  padding: 4px 22px;
  @include phone-lg {
    width: 280px;
  }
  @include phone {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 125%);
  }
  .fa-angle-left {
    @include phone-lg {
      //margin-left: 37%;
      //margin-right: -38%;
    }
  }
}

.results-analisis-content .table-diagnostick {
  width: 100%;
  @include small-devices {
    margin-top: 0;
  }
  @include phone-lg {
    margin-top: 35px;
  }
  @include phone {
    margin-top: 65px;
  }
}
.table > thead > tr > .results-table-title-left {
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 60px;
  @include phone-lg {
    font-size: 13px;
  }
}
.results-analisis-content .table > thead > tr > .diagnostick-table-title-right {
  @include phone-lg {
    font-size: 13px;
  }
}
.results-analisis-content .table > tbody > tr > td {
  @include phone-lg {
    line-height: 20px;
  }
}
.results-table-date {
  width: 74px;
  height: 30px;
  margin-left: 34px;
  margin-right: 12px;
  font-size: 13px;
  color: $header-h4;
  @include medium-desktop-lg {
    margin-right: 0;
    margin-left: 5px;
  }
}
.results-analisis-content .eye-analisis {
  color: $icon-grey;
  &:hover {
    text-decoration: none;
    color: $sidebar-link;
  }
}
.table-diagnostick tbody .first-row .td-date {
  padding-top: 12px;
}
.table-diagnostick tbody tr .td-date {
  padding-top: 5px;
  padding-right: 0;
  padding-left: 5px;
}
.table-diagnostick tbody .first-row .td-analisis-name {
  padding-top: 12px;
  padding-left: 23px;
    span {
      font-size: 12px;
    }
}
.table-diagnostick tbody tr .td-analisis-name {
  padding-top: 5px;
  padding-left: 23px;
    span {
      font-size: 12px;
    }
}

.icon-remove-analisis {
  margin-left: 5px;
  color: $green;
  &:hover {
    color: $green-border-dark;
  }
}
.bg-white-certificate .tab-content-certificate {
  margin-top: 60px;
  margin-left: 37px;
  @include large-desktop {
    clear: both;
    padding-top: 30px;
  }
  @include small-devices {
    margin-top: 0;
  }
  @include phone {
    margin-top: 40px;
    margin-left: 0;
  }
}
.certificate-caption {
  overflow: hidden;
}
.certificate-date {
  float: left;
  margin-right: 20px;
  font-size: 13px;
}
.certificate-address {
  font-size: 12px;
}
.med-certificate {
  margin-top: 6px;
}

// блок с иконками Плюс и Капля
.lead-content .lead-block-icons-container {
  float: left;
  width: 19px;
  margin-top: 6px;
    .fa-plus {
      font-size: 10px;
      float: left;
      //@include phone-lg {
      //  margin-left: 28%;
      //  margin-right: -24%;
      //}
    }
    .fa-tint {
      @include phone-lg {
        margin-left: 29%;
        margin-right: -23%;
      }
    }
}
.lead-content {
  margin: 0 auto;
  max-width: 280px;
}
.lead-title-block {
  max-width: 280px;
}

.label-upload-results {
  width: 110px;
  //margin-right: 5px;
  //margin-top: 2px;
  //text-align: right;
  //line-height: 15px;

  font-family: $extraBold;
  font-size: 12px;
  font-weight: 900;

  position: relative;
  float: left;
  //
  //width: 110px;
  //margin-right: 5px;
  //text-align: right;
  //line-height: 15px;
  @include small-devices {
    width: 100%;
    text-align: left;
  }
}

.upload-block {
  //position: absolute;
  //margin-top: 50px;
}
.label-choose-file {
  //position: relative;
  //float: left;
  //
  //width: 110px;
  //margin-right: 5px;
  //text-align: right;
  //line-height: 15px;
}

// tabs
.nav-pills-analisis {
  float: left;
  margin-top: 5px;
  @include small-devices {
    float: none;
    margin-bottom: 10px;
    text-align: center;
  }
}

//.results-analisis-content button .fa {
//  float: left;
//  padding-right: 7px;
//  font-size: 16px;
//}

.results-analisis-content .tab-content-table {
  margin-top: 68px;
  @include large-desktop {
    margin-top: 0;
  }
  @include small-devices {
    margin-top: 10px;
  }
}
.results-analisis-content .nav-pills>li+li {
  margin-left: -4px;
}
.results-analisis-content .tab-auto {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  //@include phone-lg {
  //  padding: 6px 18px;
  //}
  @include phone-md {
    padding: 5px 15px;
  }
}
.results-analisis-content .tab-added {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  //@include phone-lg {
  //  padding: 6px 18px;
  //}
  @include phone-md {
    padding: 5px 15px;
  }
}
.results-analisis-content .nav-pills>li.active>a {
  background-color: $btn-group;
  color: $black;
  &:hover {
    color: $black;
  }
}

.results-analisis-content .bg-white-certificate {
  padding-top: 40px;
  padding-right: 56px;
  padding-bottom: 40px;
  @include medium-desktop-lg {
    padding-right: 20px;
    padding-left: 20px;
  }
  @include phone-lg {
    padding-right: 0;
    padding-left: 7px;
  }
  @include phone-md {
    padding-top: 25px;
    padding-left: 0;
  }
}

// блок Добавить результаты анализов
.results-analisis-content .add-analisis-results {
  padding-top: 2px;
  padding-left: 60px;
  @include phone-lg {
    padding-left: 30px;
  }
  @include phone {
    padding-right: 0;
    padding-left: 0;
  }
}
.label-analisis-name {
  //margin-top: 3px;
  //margin-right: 6px;

  //width: 98px;
  //margin-right: -20px;
  //margin-top: 2px;
  //text-align: right;
  //line-height: 15px;width: 98px;
  //margin-right: -20px;
  //margin-top: 2px;
  //text-align: right;
  //line-height: 15px;

  width: 84px;
  margin-right: -6px;
  margin-top: 2px;
  text-align: right;
  line-height: 15px;
  @include small-devices {
    width: 100%;
    margin-left: 15px;
    text-align: left;
  }
}
.results-analisis-content .upload-block {
  //position: absolute;
  //margin-top: 50px;

  //position: relative;
  //margin-top: 0;
  margin-top: 15px;
  margin-left: -22px;

  padding-top: 50px;
  @include small-devices {
    //margin-left: 0;
    margin-left: 15px;
    padding-top: 70px;
  }
}
.results-analisis-content .label-btn-upload {
  margin-left: 5px;
  margin-top: -6px;
  @include small-devices {
    margin-left: 0;
  }
}
.results-analisis-content  button.btn-remove-analisis {
  height: 26px;
  margin-top: -6px;
}
.add-analisis-divider {
  max-width: 400px;
  margin-bottom: 5px;
  margin-left: -40px;
  @include small-devices {
    max-width: 710px;
  }
  @include phone-lg {
    display: none;
  }
}
.upload-results-subtext {
  font-size: 11px;
    p {
      max-width: 270px;
      margin-left: 37px;
      line-height: 18px;
      @include small-devices {
        max-width: 700px;
        margin-top: 20px;
      }
      @include phone-lg {
        max-width: 100%;

        margin-left: 0;
      }
      @include phone {
        max-width: 280px;
        margin: 20px auto 0;
      }
    }
}

// блок Предоставить доступ
.give-access {

}
/* ----------------- РЕЗУЛЬТАТЫ-FIN END ----------------- */