.well {
  border-radius: 7px;
  border: none;
  nav {
    .nav-pills {
      margin-top: 25px;
      margin-left: 10px;
      text-align: left;
      li.active {
        background-color: $bg-body;
        border-radius: 5px;
        a {
          margin-left: 3px;
          background-color: transparent;
          //text-decoration: underline;
          transition: all 600ms ease-out;
          &:focus {
            color: $sidebar-link;
          }
        }
      }
      li {
        display: block;
        margin-bottom: 10px;
        padding-left: 0;
        &:hover {
          background-color: $bg-body;
          border-radius: 5px;
        }
        .sidebar-link {
          padding: 5px 15px 5px 26px;
          font-size: 14px;
          color: $sidebar-link;
          &:hover {
            background-color: transparent;
            font-family: $bold;
            color: $sidebar-link;
          }
          &:focus {
            background-color: $bg-body;
          }
        }
      }
    }
    .nav-stacked > li {
      @include large-desktop {
        float: left;
      }
    }
  }
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 1200px) {
  #sidebar.affix-top {
    position: static;
    //padding-left: 25px;
    padding-left: 11px;

    width: 270px;
    height: 530px;
  }

  #sidebar.affix {
    position: fixed;
    top: 19px;
    width: 270px;
  }
}

// для исправления ошибка, когда сайдбар наезжал на футер
.affix {
  position: fixed;
  top: 0;
  background: red;
}
.affix-bottom {
  position: absolute;
  bottom: 0;
}