.row-content {
  @include large-desktop {
    flex-direction: column-reverse;
  }
}
.container-wide {
  padding-right: 0;
  padding-left: 0;
  @include small-devices {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.breadcrumb-doc {
  margin-left: -9px;
}
.row-images-persons {
  .col-lg-4 {
    padding-right: 5px;
  }
}
.col-diseases {
  @include small-devices {
    float: left;
  }
}
.col-tabs {
  padding: 0;
  background: url('../img/bg-col-tabs.jpg') no-repeat;
  background-size: cover;
  @include medium-desktop-lg {
    background: none;
  }
}

/*---------------- WIDGET TABS BEGIN ----------------*/
.overlay {
  position: relative;
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  @include medium-desktop-lg {
    position: relative;
  }
}
.black {
  border-radius: 6px;
}
.black:before {
  background-color: rgba(0,0,0,0.5);
  border-radius: 6px;
}
.tab-link {
  background-color: $breadcrumb-first;
  font-size: 13px;
  font-family: $extraBold;
  font-weight: 600;
  color: $white;
}
.nav-tabs > li.active > a.tab-link,
.nav-tabs > li.active > a.tab-link:focus,
.nav-tabs > li.active > a.tab-link:hover {
  background: transparent !important;
}
.nav-tabs-custom {
  display: table;
  width: 100%;
  border-bottom: transparent;
    li.active {
      a.tab-link {
        border: none !important;
        background-color: transparent;
        color: $white !important;
        &:hover {
          border: none;
          background-color: $green-border-dark;
          color: $white !important;
        }
      }
    }
    li {
      float: none;
      display: table-cell;
      a.tab-link {
        margin-right: 0;
        padding-top: 22px;
        padding-bottom: 20px;
        border-radius: 0;
        border: none;
        border-right: 1px solid $green-lighter;
        &:hover {
          border: none;
           border-right: 1px solid $green-lighter;
           background-color: $green-border-dark;
          color: $white !important;
         }
        &:focus {
          border: none;
          border-right: 1px solid $green-lighter;
          background-color: $green-border-dark;
          color: $white !important;
        }
      }
    }
    li:first-child {
      a {
        border-top-left-radius: 6px;
      }
    }
    li:last-child {
      a {
        border-top-right-radius: 6px;
      }
    }
}
.panel-default>.panel-heading {
  @include medium-desktop-lg {
    background-color: $green-btn;
    color: $white;
  }
}
.tab-content {
  position: relative;
  margin-top: 55px;
  margin-bottom: 0;
}
.tab-content-footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.tab-form {
  padding-top: 43px;
  padding-bottom: 5px;
}
.left-inner-addon-sm {
  max-width: 312px;
  margin-left: 37px;
  @include medium-desktop-lg {
    margin: 0 auto;
  }
}
.btn-r {
  .left-inner-addon-sm {
    width: 312px;
  }
}
.btn-alph-search {
  button {
    margin-top: -5px;
    padding: 15px 25px;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    background-color: #00c3b6;
    border-bottom: 4px solid #008977;
  }
}
.form-group {
  @include phone-lg {
    margin: 0 auto;
  }
  .tab-icon-user {
    z-index: 11;
    top: 15px;
    left: 14px;
    background-size: 70%;
  }
  .tab-icon-geo {
    z-index: 11;
    top: 17px;
    background-size: 70%;
    @include medium-desktop-lg {
      left: 15px;
    }
  }
  .tab-input {
    position: relative;
    z-index: 10;
    border-radius: 30px !important;
    font-style: normal;
    padding: 0 5px 0 45px;
    height: 53px;
  }
}
input.tab-input {
  font-size: 14px;
}
.tab-input-text {
  margin-top: 7px;
  padding-left: 3px;
}

.left-inner-addon {
  @include medium-desktop-lg {
    margin: 0 auto;
  }
  @include phone-md {
    margin-left: 20px;
    margin-right: 20px;
  }
    .form-group {
      p {
        @include medium-desktop-lg {
          margin-bottom: 20px;
        }
      }
    }
}

.input-region {
  .left-inner-addon {
    @include medium-desktop-lg {
      margin: 0 auto;
    }
    @include phone-md {
      margin-right: 5px;
      margin-left: 0;
    }
  }
}

.left-inner-addon input.tab-input[placeholder] {
  padding-right: 0;
  padding-left: 44px;
  font-size: 14px;
  @include phone {
    padding-left: 15px;
  }
}
button.tab-input {
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-radius: 30px !important;
  font-size: 18px;
  &:hover {
    background-color: $green-border-dark;
    color: $white;
  }
  @include medium-desktop-lg {
    margin-top: 10px;
    padding-right: 115px;
    padding-left: 115px;
  }
  @include phone-md {
    padding-right: 85px;
    padding-left: 85px;
  }
}
.input-region {
  margin-left: 32px;
  @include medium-desktop-lg {
    margin-left: 0;
  }
  @include phone-lg {
    text-align: center;
  }
  .btn-r {
    @include phone-lg {
      display: inline-block;
    }
    @include phone-md {
      margin-right: 0;
    }
  }
}
.btn-r {
  .tab-input {
    @include medium-desktop-lg {
      margin-left: 0;
    }
    @include phone-lg {
      margin-left:  auto;
    }
  }
}
.tab-btn-search {
  @include medium-desktop-lg {
    padding-top: 35px;
    text-align: center;
  }
}
/*---------------- WIDGET TABS END ----------------*/

.doctor-page-results {
  margin-top: 35px;
  font-size: 22px;
  font-family: $extraBold;
  font-weight: 800;
}
.dostors-found-list {
  margin-left: 13px;
  @include large-desktop {
    margin-left: 0;
    padding-left: 0;
  }
    li {
      float: left;
      line-height: 15px;
    }
}
.results-list-icon {
  margin-right: 10px;
  font-size: 16px;
  color: $green;
}

.found-results-text {
  margin-top: 39px;
  margin-left: 53px;
    i {
      font-size: 16px;
    }
}
.found {
  font-size: 11px;
  font-family: $semibold;
  color: $header-list;
}
.found-quantity {
  margin-left: 5px;
  font-size: 11px;
  font-family: $bold;
  font-weight: 600;
  color: $green;
}
.found-doctors {
  margin-left: 3px;
  font-size: 11px;
  color: $header-list;
}

/* --------------- СТИЛИ ФИЛЬТРА (НАЧАЛО) --------------- */
.row-doc-filter {
  overflow: hidden;
}
.col-doctors-filter {
  @include medium-desktop-lg {
    flex-direction: column;
  }
    .block-checkboxes {
      margin-left: auto;
        .checkbox {
          label {
            margin-top: 5px;
          }
        }
    }
}
.label-sort {
  margin-top: 6px;
  margin-right: 9px;
  float: left;
  font-size: 10px;
  @include small-devices {
    float: none;
  }
}
.col-doctors-filter {
  height: 39px;
  @include medium-desktop-lg {
    height: 90px;
  }
  @include small-devices {
    height: 125px;
  }
  @include phone-lg {
    height: 140px;
  }
  @include phone {
    height: 155px;
  }
    .doctors-filter-buttons {
      float: left;
      margin-top: 14px;
      margin-right: 25px;
    }
    .block-checkboxes {
      position: absolute;
      top: 5px;
      right: 0px;
      @include medium-desktop-lg {
        top: 41px;
        left: 15px;
      }
      @include small-devices {
        top: 75px;
      }
      @include phone-lg {
        top: 95px;
      }
      @include phone {
        top: 120px;
      }
        .block-checkbox-adults {
          display: inline;
          margin-right: 10px;
          label[for="checkbox-adults"] {
            width: 100px;
          }
        }
        .block-checkbox-children {
          display: inline;
          margin-right: 10px;
          label[for="checkbox-children"] {
            width: 100px;
          }
        }
    }
}
.btn-group-sm {
  .doctors-filter-name {
    padding-right: 7px;
    padding-left: 0;
    background-color: $bg-body;
    border-color: transparent;
    border-bottom: 1px solid $divider;
    font-size: 10px;
    font-family: $bold;
    font-weight: 600;
    letter-spacing: 1px;
    color: $breadcrumb-first;
    &:hover {
      color: $black-filter-tabs;
    }
    &:focus {
      border-bottom: 1px solid $green;
      color: $black-filter-tabs;
      .fa-long-arrow-up {
        visibility: visible;
      }
    }
    &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      outline: none;
      color: $black-filter-tabs;
    }
    .fa-long-arrow-up {
      font-size: 11px;
      visibility: hidden;
    }
    .fa-long-arrow-down {
      padding-top: 3px;
      padding-right: 3px;
      float: left;
      font-size: 11px;
    }
  }
  .doctors-filter-reset {
    margin-top: 0;
    padding: 0 10px 0;
    font-size: 17px;
  }
}
.filter-block-divider {
  margin-top: 1px;
  border-top: 1px solid $divider;
  @include large-desktop {
    border-top: 1px solid transparent;
  }
}
/* --------------- СТИЛИ ФИЛЬТРА (КОНЕЦ) --------------- */

.row-doctors-grid {
  margin-right: -25px;
  margin-left: -5px;
  padding-bottom: 15px;
  @include large-desktop {
    margin-right: -5px;
  }
    .col-doctors {
      padding: 0;
        .thumbnail {
          max-width: 270px;
          @include large-desktop {
            max-width: 100%;
          }
          @include small-devices {
            flex-direction: column;
          }
            .thumbnail-info-doctors-grid {
              @include large-desktop {
                width: 390px;
              }
              @include medium-desktop-lg {
                width: 222px;
                padding-bottom: 5px;
              }
              @include small-devices {
                width: auto;
              }
            }
        }
        .thumbnail-left {
          margin-left: 0;
        }
        .thumbnail-center {
          @include phone-lg {
            margin-left: 0;
          }
        }
        .thumbnail-right {
          margin-right: 0;
          @include phone-lg {
            margin-right: 5px;
            margin-left: 0;
          }
        }
    }
}

.subtext {
  @include phone-md {
    padding-left: 15px;
  }
}
textarea:focus, input:focus, .btn:focus {
  outline: none;
}

// для стрелок в фильтре
.hide {
  display: none;
}
.show {
  display: inline-block;
}