/* ----------------- SIDEBAR STYLES BEGIN ----------------- */
.sidebar-right {
  color: $header-h4;
  transition: .1s ease-in-out;
  &:hover {
    box-shadow: 0px 39px 45px -34px rgba(0, 0, 0, 0.75);
    transform: translateY(-1px);
  }
  .overlay:before {
    @include medium-desktop-lg {
      position: absolute;
    }
  }
  #sidebar.affix {
    position: relative;
  }
  #sidebar {
    padding-left: 0;
      .sidebar-title {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 25px;
        @include large-desktop {
          padding-top: 20px;
        }
      }
  }
  #sidebar.well {
    padding: 0 0 30px;
    nav {
      .sidebar-right {
        @include large-desktop {
          margin-left: 20px;
        }
        li {
          padding-left: 20px;
        }
        .sidebar-right-li-places {
          display: flex;
          border-bottom: none;
            a {
              letter-spacing: 0;
              font-family: $regular;
              font-size: 12px;
              color: $header-h4;
            }
        }
      }
    }
  }
}
.container-geo-mark {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.sidebar-map {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 270px;
  background-color: red;
  border-radius: 7px;
}

.bubble {
  position: relative;
  width: 180px;
  height: 85px;
  top: 65px;
  padding: 0px;
  background: #00bdaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: $white;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 9px 0;
    border-color: #00bdaf transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 81px;
  }
  ul {
    padding-top: 10px;
    padding-left: 0;
  }
  i {
    margin-top: 15px;
    font-size: 30px;
  }
}
.doctor-info-title {
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 20px;
}
.doctor-name {
  padding-right: 30px;
  padding-left: 20px;
  font-size: 16px;
  color: $green-name;
}
.doctor-info-divider {
  margin-right: 15px;
  margin-bottom: 25px;
  margin-left: 15px;
  border-top: 1px solid $divider;
}
.info-text-divider{
  clear: both;
}
.sidebar-subtitle {
  padding-right: 30px;
  padding-left: 20px;
  font-family: $bold;
  font-size: 12px;
  font-weight: 600;
}
.specification-text {
  padding-right: 30px;
  padding-left: 20px;
  font-size: 12px;
}
.specification-list {
  padding-right: 30px;
  list-style: none;
  font-size: 12px;
    li::before {
      content: "•";
      color: $green-name;
      display: inline-block;
      width: 1em;
      margin-right: -4px;
      margin-left: -1em;
      font-size: 17px;
      vertical-align: sub;
    }
}
/* ----------------- SIDEBAR STYLES END ----------------- */

.col-thumbnail {
  padding-right: 5px;
}

/* ----------------- THUMBNAIL STYLES BEGIN ----------------- */
.thumbnail-doctor {
  margin-top: 0;
  margin-left: -2px;
}
.thumbnail {
  max-width: 270px;
  @include large-desktop {
    max-width: 100%;
  }
  @include small-devices {
    flex-direction: column;
  }
  .thumbnail-info-doctors-grid {
    @include large-desktop {
      width: 390px;
    }
    @include medium-desktop-lg {
      width: 222px;
      padding-bottom: 5px;
    }
    @include small-devices {
      width: auto;
    }
  }
}
.thumbnail-numbers-list {
  padding-bottom: 42px;
  padding-left: 10px;
  @include medium-desktop-lg {
    padding-right: 20px;
    padding-bottom: 0;
  }
    li {
      float: left;
      text-align: right;
      @include medium-desktop-lg {
        float: none;
      }
    }
}
.thumbnail-number {
  margin-bottom: 0;
  font-size: 15px;
  font-family: $bold;
  font-weight: 400;
}
.signed-number-text {
  font-size: 10px;
  color: $header-list;
}
.numbers-divider {
  width: 1px;
  height: 26px;
  margin-top: 5px;
  margin-right: 21px;
  margin-left: 25px;
  background-color: $divider;
  @include medium-desktop-lg {
    display: none;
  }
}
.price-number-text {
  font-size: 12px;
  color: $header-list;
}
.thumbnail-text {
  margin-top: -15px;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 12px;
  color: $header-list;
  text-align: center;
}
/* ----------------- THUMBNAIL STYLES END ----------------- */

/* ----------------- CALENDAR STYLES BEGIN ----------------- */
.calendar {
  display: flex;
  margin-bottom: 30px;
  transition: .1s ease-in-out;
  &:hover {
    box-shadow: 0px 39px 45px -34px rgba(0, 0, 0, 0.75);
    transform: translateY(-1px);
  }
  @include medium-desktop-lg {
    display: block;
  }
  @include small-devices {
    display: block;
    margin-top: 25px;
  }
    .black {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @include medium-desktop-lg {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 0;
      }
    }
    .black:before {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .black > * {
      position: relative;
    }
}
.calendar-left {
  width: 270px;
  height: 340px;
  padding-top: 26px;
  background: url('../img/bg-calendar.jpg') no-repeat;
  color: $white;
  @include medium-desktop-lg {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  @include small-devices {
    width: 100%;
    height: auto;
    background-size: cover;
  }
}
.calendar-divider {
  margin-right: 30px;
  margin-left: 30px;
  border-top: 1px solid $grey-divider-light;
}
.calendar-day {
  letter-spacing: 2px;
  font-size: 11px;
  font-family: $bold;
  font-weight: 400;
}
.calendar-title {
  font-size: 15px;
  font-family: $extraBold;
  font-weight: 800;
}
.calendar-city {
  margin-top: -6px;
  margin-bottom: -5px;
}
.calendar-name {
  margin-top: -11px;
  margin-bottom: -6px;
  line-height: 18px;
}
.calendar-table {
  @include medium-desktop-lg {
    margin: 0 auto;
  }
  @include small-devices {
    height: 100px;
    margin: 0 auto;
  }
  tr {
    td {
      padding: 0 8px 1px;
      background-color: $white;
      border-radius: 10px;
      text-align: center;
        a {
          font-size: 10px;
          color: $calendar-time;
        }
    }
  }
}
.calendar-footer {
  div {
    float: left;
    margin-right: 7px;
    padding: 0 6px;
    background-color: $white;
    border-radius: 50%;
      .calendar-location {
        transform: scaleX(-1);
        color: $black;
        font-size: 11px;
      }
  }
  .address {
    font-family: $semibold;
    font-size: 13px;
    font-weight: 400;
  }
}
.calendar-right {
  width: 300px;
  height: 340px;
  background-color: $bg-calendar;
  border-radius: 0 6px 6px 0;
  text-align: center;
  color: $white;
  @include large-desktop {
    width: 370px;
  }
  @include medium-desktop-lg {
    width: 100%;
    height: auto;
    border-radius: 0 0 6px 6px;
  }
  @include small-devices {
    width: 100%;
  }
}
/* ----------------- CALENDAR STYLES END ----------------- */

/* ----------------- LEAVE-TESTIMONIAL STYLES BEGIN ----------------- */
.leave-testimonial {
  margin-top: 20px;
  background-color: $white;
  border-radius: 6px;
  transition: .1s ease-in-out;
  &:hover {
    box-shadow: 0px 39px 45px -34px rgba(0, 0, 0, 0.75);
    transform: translateY(-1px);
  }
    form {
      display: flex;
      flex-direction: column;
      height: 245px;

      height: auto;
      padding-bottom: 30px;
    }
}
.testimonial-header {
  padding-top: 18px;
  padding-left: 27px;
  @include phone-lg {
    display: flex;
    flex-direction: column;
  }
    .title {
      font-size: 22px;
      font-family: $extraBold;
      font-weight: 600;
    }
    p {
      .bootstrap-switch {
        @include medium-desktop-lg {
          margin-left: 0;
        }
      }
    }
}
.testimonial-divider {
  margin-top: 14px;
  border-top: 1px solid $grey-divider-light;
}
.form-testimonial-list {
  margin-top: -7px;
  padding-left: 29px;
    .name-phone {
      margin-right: 30px;
      @include phone-lg {
        margin-bottom: 15px;

      }
        .block-name {
          margin-bottom: 23px;
        }
    }
    li {
      float: left;
        .form-group {
          textarea {
            width: 240px;
            height: 140px;
            @include large-desktop {
              width: 305px;
            }
            @include medium-desktop-lg {
              max-width: 385px;
            }
            @include phone {
              width: 240px;
            }
          }
        }
    }
}
.form-group-testimonial {
  label {
    margin-bottom: 8px;
    font-size: 11px;
    font-family: $bold;
    font-weight: bold;
  }
  input {
    width: 240px;
    height: 45px;
    @include medium-desktop-lg {
      max-width: 385px;
    }
  }
}
.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 5px;
  margin-right: 20px;
  @include phone-lg {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
    p {
      margin-right: 30px;
      margin-left: 135px;
      font-size: 12px;
      color: $header-list;
      @include small-devices {
        margin-left: 0;
      }
      @include phone-lg {
        margin-bottom: 20px;
      }
    }
    .btn-doctor-page {
      margin-top: -10px;
      margin-right: 10px;
      padding: 12px 35px;
    }
}
.btn-doctor-page {
  margin-top: 15px;
  padding: 12px 30px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  background: linear-gradient(to bottom, #00c7bb 0%, #00ae9f 100%);
  color: $white;
  border: none;
  border-radius: 20px;
  @include phone-lg {
    margin-right: 0;
  }
  &:hover {
    background: linear-gradient(to bottom, #00c7bb 0%, #01867a 100%);
  }
}
/* ----------------- LEAVE-TESTIMONIAL STYLES END ----------------- */

/* ----------------- TESTIMONIALS-LIST STYLES BEGIN ----------------- */
.block-testimonials {
  margin: 30px 0 40px 5px;
  padding: 33px 25px 30px 23px;
  background-color: $white;
  border-radius: 6px;
  transition: .1s ease-in-out;
  &:hover {
    box-shadow: 0px 39px 45px -34px rgba(0, 0, 0, 0.75);
    transform: translateY(-1px);
  }
  h4 {
    margin-bottom: 29px;
    font-size: 15px;
    font-family: $extraBold;
    font-weight: 800;
  }
}
.testimonial-author {
  margin-bottom: 6px;
  font-size: 11px;
  color: $header-list;
    .author-name {
      font-size: 11px;
      font-family: $extraBold;
      font-weight: 800;
      color: $green;
    }
}
.btn-answer {
  margin-top: -9px;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: $bold;
  font-weight: 600;
  color: $green;
  &:hover {
    color: $green;
  }
  &:focus {
    color: $green;
    outline: none;
  }
}
.testimonial-first-level {

}
.testimonial-second-level,
.testimonial-third-level {
  margin-top: 19px;
  margin-bottom: 0;
  padding-left: 27px;
}
.testimonial-first-level,
.testimonial-second-level,
.testimonial-third-level {
  @include phone-lg {
    display: flex;
    flex-direction: column;
  }
}
.testimonial-avatar {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 16px;
  margin-left: -15px;
  background: url('../img/testimonial-avatar.jpg') no-repeat;
  border-radius: 50%;
  @include phone-lg {
    float: none;
    margin: 0 auto 15px;
  }
}
.testimonial-text {
  display: flex;
  flex-direction: column;
    p {
      text-align: justify;
    }
}
.testimonial-divider {
  display: inline-block;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 14px;
}
/* ----------------- TESTIMONIALS-LIST STYLES END ----------------- */

/* ----------------- TESTIMONIALS PAGINATION STYLES BEGIN ----------------- */
.pagination-numbers-list {
  @include phone {
    padding-left: 0;
  }
  li {
    float: left;
    width: 26px;
    height: 26px;
    padding-top: 2px;
    text-align: center;
    &:hover {
      background-color: $green;
      border-radius: 50%;
    }
    &:hover a {
      text-decoration: none;
      color: $white;
    }
      a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11px;
        color: $header-list;
      }
  }
}
.li-last-number {
  display: flex;
  justify-content: center;
  align-items: center;
    .last-number {
      margin-top: -3px;
    }
}
.col-prev,
.col-numbers,
.col-next {
  margin-top: 30px;
  text-align: right;
}
.col-prev,
.col-next {
  p {
    a {
      color: $green;
      font-size: 12px;
      font-family: $bold;
      font-weight: 600;
      &:hover > i {
        color: $green;
      }
        i {
          color: $header-list;
        }
        .fa-arrow-left {
          margin-right: 12px;
        }
        .fa-arrow-right {
          margin-left: 12px;
        }
    }
  }
}
.col-prev {
  @include small-devices {
    text-align: left;
  }
}
.col-next {
  @include small-devices {
    text-align: right;
  }
}
/* ----------------- TESTIMONIALS PAGINATION STYLES END ----------------- */

// Для переключения чекбокса "Положительный-Отрицательный"
.affirmative:before { content: 'Положительный'; }
.negative:before { content: 'Отрицательный'; }