body {
  background-color: $white;
}
.bg-top {
  margin-top: -20px;
  padding-bottom: 28px;
  background: url('../img/colonoscopy/bg-top.jpg') no-repeat;
  background-size: cover;
  text-align: center;
    h1 {
      position: relative;
      padding-top: 27px;
      font-size: 35px;
      font-family: $light;
      color: $white;
    }
}
.top-overlay {
  position: relative;
}
.top-overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  @include medium-desktop-lg {
    position: relative;
  }
}
.top-black:before {
  background-color: rgba(0,0,0,0.5);
}

.bg-description {
  position: relative;
  margin-top: 27px;
  padding-top: 18px;
  padding-bottom: 20px;
  background: rgba(31, 156, 146, 0.63);
}
.description {
  max-width: 590px;
  margin: 0 auto;
  line-height: 26px;
  font-size: 19px;
  font-family: $light;
  color: $white;
}
.colonoscopy-phone-number {
  margin-top: 14px;
  font-size: 56px;
  color: #457e75;
  @include phone-lg {
    font-size: 45px;
  }
  @include phone-md {
    font-size: 25px;
  }
}
.call-to-action {
  margin-top: 28px;
  font-size: 41px;
  text-transform: none;
}

.bg-mibs {
  max-width: 1284px;
  margin: 13px auto 0;
  background: url('../img/colonoscopy/bg-mibs.png') no-repeat;
  background-position: 110% 0;
  background-size: contain;
  @include small-devices {
    background: transparent;
  }
}
.colonoscopy-text {
  margin-top: 15px;
  margin-bottom: 26px;
  line-height: 26px;
  font-size: 19px;
}
.hidden-pic {
  max-width: 1284px;
  height: 170px;
  display: none;
  background: url('../img/colonoscopy/bg-mibs.png') no-repeat;
  background-size: contain;
  @include small-devices {
    display: block;
  }
}

.about-colonoscopy {
  max-width: 485px;
  margin-bottom: 8px;
  @include large-desktop-lg {
    max-width: 485px;
    padding: 20px;
  }
}
.colonoscopy-sign-in {
  margin-top: 90px;
  margin-bottom: 122px;
  text-align: center;
  @include medium-desktop-lg {
    margin-bottom: 0;
  }
    .form-group {
        input.clearable {
          margin-top: -9px;
          height: 58px;
          font-size: 20px;
        }
    }
}
.h3-colonoscopy {
  margin-top: 48px;
  font-size: 55px;
  font-weight: lighter;
  font-family: $light;
  @include phone-lg {
    font-size: 40px;
  }
}
.hr-thick {
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid #1f9c92;
}
.hr-thin {
  margin-top: 3px;
  margin-bottom: 50px;
  border-top: 1px solid #d9eeed;
}
.form-group-colonoscopy {
  width: 404px;
  margin-left: -8px;
  @include small-devices {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
  }
    input.clearable {
      width: 100%;
      border: 1px solid #186cba;
    }


    input.clearable::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-style: normal;
      color: #99999c;
    }
    input.clearable::-moz-placeholder { /* Firefox 19+ */
      font-style: normal;
      color: #99999c;
    }
    input.clearable:-ms-input-placeholder { /* IE 10+ */
      font-style: normal;
      color: #99999c;
    }
    input.clearable:-moz-placeholder { /* Firefox 18- */
      font-style: normal;
      color: #99999c;
    }



}
.btn-colonoscopy-submit {
  margin-top: -15px;
  margin-left: 16px;
  padding: 18px 67px;
  border-radius: 0;
  background-color: #eda342;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: $bold;
  font-weight: bold;
  color: $white;
  @include small-devices {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0;
  }
  &:hover {
    background-color: #c58736;
    color: $white;
  }
}
.advantages {
  font-size: 53px;
  @include phone-lg {
    font-size: 40px;
  }
}
.colonoscopy-feature {
  margin-top: -19px;
  margin-bottom: -14px;
  font-size: 50px;
  font-family: $light;
  font-weight: 200;
  color: #457e75;
  @include phone-lg {
    font-size: 30px;
  }
}
.colonoscopy-descr {
  margin-bottom: 43px;
}
.safety {
  margin-top: 23px;
}


/**/
.footer-colonoscopy {
  height: auto;
  padding-top: 20px;
  padding-bottom: 11px;
  background-color: #111;
  border-top: 1px solid #119cd4;
  color: $white;
    .container {
      padding-right: 0;
      padding-left: 0;
      @include medium-desktop-lg {
        padding-left: 10px;
      }
    }
}
.footer-colonoscopy-list {
  max-width: 225px;
  //border: 1px solid red;
  display: block;
  margin: 0 auto;
  padding: 0;
  li {
    float: left;
      a {
        margin: 0 10px;
        font-size: 10px;
        font-family: $bold;
        font-weight: bold;
        text-decoration: none;
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
  }
}
.colonoscopy-copyright {
  font-size: 11px;
}
.footer-socials-list {
  margin-top: 23px;
  padding-left: 0;
    li {
      display: inline;
        a {
          width: 35px;
          display: inline-block;
          text-align: center;

          padding: 5px;
          border-radius: 50%;
          border: 3px solid $white;
          color: $white;
          transition: .5s;
          &:hover {
            border: 3px solid transparent;
            background-color: $white;
            color: $black;
          }
        }
    }
}
.form-second {
  padding-top: 11px;
  .colonoscopy-sign-in {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}
.colonoscopy-scroll-top {
  display: block;
  margin-top: -7px;
  margin-right: 33px;
  font-size: 11px;
  color: $white;
  &:hover {
    color: $white;
  }
}